@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-page {}

body {
    background-color: black !important;
    min-height: 100dvh;
    background-color: gray;
}

nav {
    background-color: rgba(51, 51, 51, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transition: position 5s linear;
    -webkit-transition: position 5s linear;
    -moz-transition: position 5s linear;
    -ms-transition: position 5s linear;
    -o-transition: position 5s linear;
    height: 70px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 57, 131, 0.829);
    transition: position 1s linear;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
    width: 100%;
    z-index: 1;
}

.logo {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 10px;
    text-align: center;
}

ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    z-index: 1;
}

.li {
    padding: 10px 5px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    z-index: 1;
}

.line-container {
    height: 50px;
    cursor: pointer;
    width: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    background: rgba(187, 187, 187, 0.781);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.541);
}

.line {
    width: 85%;
    height: 3px;
    background-color: black;
}

.line:nth-of-type(1).active {
    transform: translateY(13px) rotate(45deg);
    -webkit-transform: translateY(13px) rotate(45deg);
    -moz-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
}

.line:nth-of-type(2).active {
    background-color: transparent;
}

.line:nth-of-type(3).active {
    transform: translateY(-13px) rotate(-45deg);
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -moz-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
}


/* homepage*/

.main-home {
    min-height: 100dvh;
    background-image: url("../../public/homepage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.div-homepage {
    margin-top: 100px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    width: 70%;
    background: rgba(242, 242, 242, 0.336);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.div-homepage p {
    width: 70%;
    /*     background-color: aqua;
 */
    color: rgb(145, 1, 1);
}

.btn-home {
    width: 200px;
    margin-bottom: 50px;
}

.btn-home button {
    background-color: orange;
    padding: 15px;
    height: 50px;
    letter-spacing: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* /////////////////////////////////////////////////////// */

.item-page form,
.uptodate-form {
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    gap: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 90%;
    margin: 30px auto;
    gap: 40px;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.541);
}

label {
    font-weight: bold;
    margin: 10px 0px;
    margin: 20px;
}

label p,
.uptodate-form label p {
    color: white
}

form input,
.uptodate-form input {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.541);
    color: black;
    margin: 5px 0px;
}

[type="submit"] {
    background-color: rgb(173, 3, 3);
    padding: 10px;
    width: 60%;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px 2px black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


/* /////////////////////////////////////////////////// */

.right-content {
    width: 40%;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.right-content button,
.uptodate-form .right-content-two button {
    background-color: rgb(3, 135, 216);
    box-shadow: 0px 0px 5px rgb(24, 151, 255), 0px 0px 15px rgb(24, 151, 255), 0px 0px 25px rgb(24, 151, 255);
    margin: 20px 0px;
    width: 80%;
    height: 50px;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content {
    width: 60%;
    color: black;
}

.left-content textarea {
    width: 100%;
    color: black;
    padding: 5px;
    margin: 5px 0px;
    min-height: 150px;
    border-radius: 8px;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.541);
}

.uptodate-form .right-content-two {
    width: 40%;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.uptodate-form .left-content-two {
    width: 100%;
    color: black;
    padding: 5px;
    margin: 5px 0px;
    min-height: 150px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px;
}

.uptodate-form input,
.uptodate-form textarea {
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.541);
}

.select {
    height: 120px;
    display: flex;
    gap: 20px;
    align-items: center;
}

select {
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.541);
}

.select p {
    color: white;
    font-weight: bold;
}


/* /////////////////////////////////////////////// */


/* table and tbody */

.table,
.tbody {
    background-color: gold;
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 10px;
    min-height: 90px;
    margin: 10px 0px;
    padding: 0px 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.541);
}

.thead,
.td {
    width: 20%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    /*     height: 100%;
 */
    padding: 5px;
    word-break: break-all;
    border: 1px solid black;
    margin: 10px 0px;
    gap: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    letter-spacing: 0.9px;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.541);
}

.thead:nth-of-type(1),
.td:nth-of-type(1) {
    background-color: rgba(137, 43, 226, 0.274);
    width: 10%;
}

.thead:nth-of-type(6),
.td:nth-of-type(6) {
    padding: 5px;
    display: flex;
    gap: 20px
}

.edit-icon,
.delete-icon {
    font-size: 1.5rem;
}

.edit-icon {
    color: rgb(2, 84, 167);
}

.delete-icon {
    color: rgb(169, 5, 5);
}

.t-body-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* /////////////////////////////////////////// */


/* //////////////////////////////////////////// sign in */


/* 
.container {
    border: 2px solid black;
    margin: 10px 3px;
    background-color: bisque;
}

.form-container {
    position: relative;
    display: flex;
    width: 430px;
    gap: 20px;
    height: 300px;
    overflow: hidden;
    margin: auto auto;
}

.form-signin {
    height: 200px;
    width: 100%;
    translate: 0px;
    transition: translate 1s ease-in-out;
    -webkit-transition: translate 1s ease-in-out;
    -moz-transition: translate 1s ease-in-out;
    -ms-transition: translate 1s ease-in-out;
    -o-transition: translate 1s ease-in-out;
    padding: 0px 20px;
}

.form-signup {
    height: 200px;
    width: 100%;
    translate: 450px;
    position: absolute;
    transition: translate 1s ease-in-out;
    -webkit-transition: translate 1s ease-in-out;
    -moz-transition: translate 1s ease-in-out;
    -ms-transition: translate 1s ease-in-out;
    -o-transition: translate 1s ease-in-out;
    padding: 0px 20px;
}

.form-container.active .form-signup {
    translate: 0px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.form-container.active .form-signin {
    translate: -450px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.log-wrapper {
    background-color: aqua;
    width: 85%;
    height: 400px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
 */

.search-div {
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 70%;
    margin: auto auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
    box-shadow: 0px 0px 5px 2px rgba(251, 251, 251, 0.541), 0px 0px 10px 2px rgba(251, 251, 251, 0.541), 0px 0px 20px 2px rgba(251, 251, 251, 0.541), 0px 0px 25px 2px rgba(251, 251, 251, 0.541);
    ;
}

.search-input {
    width: 90%;
    height: 100%;
    padding: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    outline: none;
    font-size: 1.3rem;
    font-family: cursive;
}

.search-icon {
    font-size: 1.3rem;
}


/* register and login  */

.container-form-login {
    width: 50%;
    padding: 30px;
    margin: auto auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.196);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(24, 151, 255), 0px 0px 15px rgb(24, 151, 255), 0px 0px 25px rgb(24, 151, 255), 0px 0px 35px rgb(24, 151, 255);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
    min-height: 400px;
}

.container-form-login input {
    width: 100%;
}

.container-form-login .form__group label {
    padding: 0px;
    margin: 5px 0px;
    color: white
}

.form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    padding: 0px !important;
    margin: 5px;
    width: 80%;
}

.form_btn {
    display: flex;
    width: 80%;
    gap: 10px;
    margin-top: 20px;
    color: white;
}

.form_btn p {
    margin: auto auto;
}

.form_btn p {
    font-size: 1.3rem;
    font-weight: bolder;
}

.form_btn button {
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 45%;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 151, 255);
    box-shadow: 0px 0px 5px rgb(24, 151, 255), 0px 0px 15px rgb(24, 151, 255), 0px 0px 25px rgb(24, 151, 255);
    height: 55px;
    font-weight: bold;
    gap: 10px;
}

.form_btn button:hover {
    text-shadow: 0px 5px 10px white, 0px 5px 10px white, 0px 5px 50px white;
}

.login-icon {
    text-shadow: 0px 5px 10px white, 0px 5px 10px white, 0px 5px 50px white;
}


/* //////////////////////////////////////////////// */

@media (max-width:815px) {
    nav {
        position: relative;
    }
    ul.active {
        opacity: 1;
        transition: opacity 1s linear;
        -webkit-transition: opacity 1s linear;
        -moz-transition: opacity 1s linear;
        -ms-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
    }
    ul {
        position: absolute;
        top: 70px;
        height: 100dvh;
        width: 100%;
        flex-direction: column;
        opacity: 0;
        background-color: rgba(221, 97, 2, 0.89);
    }
    .sticky {}
    .li {
        background-color: rgba(0, 76, 175, 0.788);
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item-page {}
    body {}
    .line-container {
        opacity: 1;
        transition: opacity 1s ease-in-out;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        margin-right: 10px;
    }
    .thead,
    .td {
        font-size: 0.6rem;
    }
    .thead:nth-of-type(6),
    .td:nth-of-type(6) {
        flex-direction: column;
        gap: 10px
    }
    .container-form-login {
        width: 85%;
    }
    .form_btn {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 10px;
        margin-top: 20px;
    }
    .form_btn button {
        width: 100%;
        font-size: 1.4rem;
        font-weight: bolder;
    }
    .select {
        flex-direction: column;
    }
}


/* // glow */


/* ///////////////////////////////////////////////////////7 */

.container-letter {
    background-color: rgba(0, 0, 0, 0.989);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: 100px;
    gap: 15px;
    margin: 30px 0px;
    padding: 15px;
}

.div-letter {
    /*border: 2px solid rgb(236, 6, 6);
    */
    padding: 10px;
    font-size: 1.5rem;
    inset: 10px;
    border: 3px solid #e300007e;
    box-shadow: 2px 2px 5px rgb(224, 0, 0), 2px 2px 5px rgb(250, 0, 0);
    animation: borderglow 4s linear infinite;
    -webkit-animation: borderglow 4s linear infinite;
}

.div-letter:nth-child(1) p {
    color: green;
    text-shadow: 0 0 15px green, 0 0 25px green;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 7.5s linear infinite;
}

.div-letter:nth-child(2) p {
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 7.5s linear infinite;
    animation-delay: 0.5s;
}

.div-letter:nth-child(3) p {
    color: blue;
    text-shadow: 0 0 15px blue, 0 0 25px blue;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 7.5s linear infinite;
    animation-delay: 1s;
}

.div-letter:nth-child(4) p {
    color: red;
    text-shadow: 0 0 15px red, 0 0 25px red;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 7.5s linear infinite;
    animation-delay: 1.5s;
}

.div-letter:nth-child(5) p {
    color: orange;
    text-shadow: 0 0 15px orange, 0 0 25px orange;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 7.5s linear infinite;
    animation-delay: 2s;
}

.div-letter:nth-child(6) p {
    color: blue;
    text-shadow: 0 0 15px blue, 0 0 25px blue;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 7.5s linear infinite;
    animation-delay: 2.5s;
}

.div-letter:nth-child(7) p {
    color: red;
    text-shadow: 0 0 15px red, 0 0 25px red;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 4s linear infinite;
    animation-delay: 3s;
}

.div-letter:nth-child(8) p {
    color: green;
    text-shadow: 0 0 15px green, 0 0 25px green;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 4s linear infinite;
    animation-delay: 3.5s;
}

.div-letter:nth-child(9) p {
    color: green;
    text-shadow: 0 0 15px green, 0 0 25px green;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 4s linear infinite;
    animation-delay: 4s;
}

.div-letter:nth-child(10) p {
    color: green;
    text-shadow: 0 0 15px green, 0 0 25px green;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 4s linear infinite;
    animation-delay: 4.5s;
}

.div-letter:nth-child(11) p {
    color: green;
    text-shadow: 0 0 15px green, 0 0 25px green;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 4s linear infinite;
    animation-delay: 5s;
}

.div-letter:nth-child(12) p {
    color: green;
    text-shadow: 0 0 15px green, 0 0 25px green;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 4s linear infinite;
    animation-delay: 5.5s;
}

.div-letter:nth-child(13) p {
    color: green;
    text-shadow: 0 0 15px green, 0 0 25px green;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 4s linear infinite;
    animation-delay: 6s;
}

.div-letter:nth-child(14) p {
    color: green;
    text-shadow: 0 0 15px green, 0 0 25px green;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 4s linear infinite;
    animation-delay: 6.5s;
}

.div-letter:nth-child(15) p {
    color: green;
    text-shadow: 0 0 15px green, 0 0 25px green;
    animation: glow 4s linear infinite;
    -webkit-animation: glow 4s linear infinite;
    animation-delay: 7s;
}

@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
        opacity: 0;
    }
    100% {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
        opacity: 1;
    }
}

@keyframes borderglow {
    0% {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
    }
}

.filtered-div {
    background: rgba(242, 242, 242, 0.336);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 250px;
    gap: 5px;
    padding: 20px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    margin: auto auto;
    margin-bottom: 50px;
}

.filtered-div .header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: capitalize;
    background: rgba(242, 242, 242, 0.336);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.filtered-div label {
    margin: 0px;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-transform: capitalize;
    background: rgba(242, 242, 242, 0.336);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0px 10px;
}

.filtered-div input {
    width: 30px;
    height: 60%;
}

.show-item {
    height: 100%;
    transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -o-transition: all 2s linear;
    height: 100%;
}

.collapsed {
    height: 85px;
    /* Initial height */
}